@import '~antd/dist/antd.css';

body {
    background-color: #f0f2f5;
}

.layout-footer {
    text-align: center;
}

.logo {
    width: 120px;
    height: 31px;
    /* background: rgba(255, 255, 255, 0.2); */
    background: url('../assets/logo.png');
    margin: 16px 24px 16px 0;
    float: left;
}

.login {
    float: right;
}

.site-layout .site-layout-background {
    background: #fff;
    border-radius: 1.2rem;
}